<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.challenge">
    <!-- //Adding  Read External Storge Premission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- //Give premision to connect to the INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Premission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Challenge.NoActionBar">


        <activity
            android:name=".Acvtivities.Activities.AddChallenge"
            android:label="@string/title_activity_add_challenge"
            android:theme="@style/Theme.Challenge.NoActionBar"></activity>

        <activity android:name=".Acvtivities.Activities._Friend"></activity>
        <activity android:name=".Acvtivities.Videos.VideoActivityChallenge" />
        <activity android:name=".Acvtivities.Activities.Admin" />
        <activity android:name=".Acvtivities.Activities.Other_user_profile" />
        <activity android:name=".Acvtivities.Activities.EditProfile" />
        <activity android:name=".Acvtivities.Videos.AddVideoActivity" />
        <activity android:name=".Acvtivities.Videos.VideoActivity" />
        <activity android:name=".Acvtivities.Activities.AddCategory" />
        <activity android:name=".Acvtivities.Challengs.Family" />
        <activity android:name=".Acvtivities.Challengs.Scary" />
        <activity android:name=".Acvtivities.Challengs.Funny" />
        <activity android:name=".Acvtivities.Activities.Profile" />
        <activity android:name=".Acvtivities.Challengs.new_challenge" />
        <activity android:name=".Acvtivities.Activities.Main_Page" />
        <activity android:name=".Acvtivities.Activities.Register" />
        <activity android:name=".Acvtivities.Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>